.btn {
  user-select: none;
  width: 60px;
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  display: inline-block;
  text-align: center;
  transition: 0.1s;
}

.btn:active {
  background-color: aquamarine;
  transition: 0.1s;
}

.num {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
}
